.shop{
    position: relative;
    background-image: url(../../img/about_hero.png.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    align-items: center;
}
.shop h1{
    font-size: 70px;
    font-weight: 700;
}
